<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56592307969-q463f1g0sa021nsvcnb3adjjpv331msf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56592307969-q463f1g0sa021nsvcnb3adjjpv331msf</string>
	<key>API_KEY</key>
	<string>AIzaSyCrd-QILt2Jlw7LeXhkQAyqHZA4XqhL2WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>56592307969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotess-nemo</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotess-nemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56592307969:ios:e4a6abb0de2e6ad9716d00</string>
</dict>
</plist>